/* global */
body {
    margin-top: 60px;
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Poppins;
    margin: 0 15px;
}

p {
    font-family: roboto;
    margin: 10px 15px 0 15px;;
}

.main-btns {
    margin: 0 15px;
}

/* navbar */
.navbar {
    background: #fff;
    border: 0;
    font-family: Poppins;
}

.navbar-brand {
    font-size: 25px;
    color: #000;
    font-weight: bold;
    margin-left: 50px;
}

.navbar-nav {
    margin-right: 50px;
}

/* showcase */
#showcase {
    padding: 80px 0 40px 0;
}

#showcase h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

#showcase img {
    width: 100%;
    margin-top: 20px;
}

#showcase .showcase-right {
    margin-top: 30px;
}

/* testimonial*/
#testimonial {
    background: #f1f1f1;
    padding: 50px 0 30px 0;
    text-align: center;
    margin-top: 40px;
}

#testimonial p {
    font-size: 28px;
    font-family: "josefin sans";
    color: #000;
}

#testimonial p.customer {
    font-size: 20px;
    color: #666;
}

/* info blocks */
.info-left img {
    width: 80%;
}

#info1 .info-right {
    margin-top: 90px;
}

#info2 {
    margin: 40px 10px 40px 10px;
}

#info2 p {
    text-align: justify;
}

@media screen and (max-width: 1000px) {
    #info1 .info-right {
        width: 100%;
        margin-top: 0px;
    }

    #info2 .info-left {
        width: 100%;
        margin-top: 20px;
    }

    #info2 .info-right {
        width: 100%;
        margin-top: 60px;
    }
}
/* contact */
#contact {
    background-image: url("https://i.imgur.com/gAOKXLw.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;
    color: #fff;
    font-weight: bold;
}

#contact-us {
    font-size: 38px;
}

/* footer */
footer p{
    margin: 6px 0;
    font-size: 16px;
    background: #fff;
    color: #1d1e23;
}
